/*------------------------- Fonts -------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* -------------------------Common Styles---------------------------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: justify;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: red;
}

hr {
    margin-top: 70px;
    margin-left: 120px;
    margin-right: 80px;
}

/* ---------------------------------Header Styles--------------------------------------------------------- */

.top-banner {
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    display: flex;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    /* width: 485px;*/
    height: 230px;
    margin-top: 170px;
    margin-left: 156px;
}

.banner-heading a {
    color: white;
    margin-left: 156px;
    width: 168px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    text-decoration: none;
    font-weight: 600;
}

.fa-long-arrow-alt-right {
    color: white;
    margin-left: 10px;
    font-size: 1.2em;
}

.banner-image img {
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-right: 141px;
    margin-bottom: 86px;
    margin-left: 142px;
}

.banner-heading h1:hover {
    transform: rotate(360deg) scale(0.5);
    transition: transform 2s ease-in-out;
}

.banner-image:hover {
    transform: rotate(360deg);
    transition: transform 4s ease-in-out;
}

/* ------------------------------------Players Section Styles-------------------------------------------- */

.players, .scorers, .news-bunch {
    margin-top: 70px;
    margin-left: 120px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player, .scorer, .news {
    margin-right: 30px;
    margin-top: 30px;
    box-shadow: 20px 20px 50px grey;
}

.player h3, p {
    padding-left: 15px;
    padding-right: 15px;
}

.players .player img, .scorer img, .news-thumbnail img {
    width: 330px;
    height: 474px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* -----------------------------------Top Goalscorers Styles------------------------------------------ */

.goal-title {
    margin-top: 120px;
    margin-left: 120px;
    font-size: 2.5em;
    color: #001f3f;
}

.scorer h3 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5em;
}

/* -------------------------------------News Section Styles------------------------------------ */

.news h3, p {
    padding-left: 15px;
    padding-right: 15px;
}

/* --------------------------------------Footer Section---------------------------------------- */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
}

.social-media i {
    color: grey;
    font-size: 1.8em;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 5px;
}

.copyright-stat {
    margin-bottom: 63px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* ------------------------------Media Queries for Mobile Devices-------------------------------- */

@media only screen and (max-width:688px) {
    .top-banner {
        display: flex;
        flex-direction: column;
    }
    .banner-heading {
        margin-bottom: 30px;
    }
    .section-title {
        margin: 0;
    }
    .banner-image img {
        margin: 0px;
        width: 329px;
        height: 259px;
    }
    .players, .scorers, .news-bunch {
        display: flex;
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .football-logo img {
        width: 300px;
        height: 150px;
    }
}